@CHARSET "UTF-8";


h1 {
	font-family: Arial;
	font-size: 36px;
}

body {
	font-family: Arial;
}

p {
	font-family: Arial;
}

.dateTimeField input {
   width:260px;
}

body.bg {
background-image: url(../img/bg.png);
}

